.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}
.firstRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.width100 {
  width: 100%;
}
.icons {
  display: flex;
}